#Contact {
    background-color: rgb(50, 50, 50);
}

body {
    position: relative;
    overflow-x: hidden;
}

#Home {
    background-color: rgb(255, 255, 255);
}

.name {
    font-size: 6rem;
}

.banner {
    height: 100vh !important;
}

#Projects {
    background-color: rgb(200, 200, 200);
}

.carousel-item img {
    height: 300px !important;
    width: 100% !important;
    object-fit: contain;
}

#Skills {
    background-color: rgb(150, 150, 150);
}

#particles-js {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
