body {
    position: relative;
    overflow-x: hidden;
}

#Home {
    background-color: rgb(255, 255, 255);
}

.name {
    font-size: 6rem;
}

.banner {
    height: 100vh !important;
}

#Projects {
    background-color: rgb(215, 215, 215);
}

.carousel-item img {
    height: 300px !important;
    width: 100% !important;
    object-fit: contain;
}

#Skills {
    background-color: rgb(195, 195, 195);
}

.language-icons img,
.framework-icons img {
    height: 100px !important;
    width: 100px !important;
}

#Contact {
    background-color: rgb(50, 50, 50);
}

#particles-js {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.social-icons a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.github-i:hover {
    color: #211f1f;
    transition-duration: 0.3s;
}

.mail-i:hover {
    color: #0072c6;
    transition-duration: 0.3s;
}

.linkedin-i:hover {
    color: #0077b5;
    transition-duration: 0.3s;
}
